.hide {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

/* Мобільна версія */

.container {
  width: 100%;
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* Шапка (Мобільна) */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo .accent {
  color: #4d5ae5;
}

.mobile-menu-open-btn {
  padding: 0;
  line-height: 0;
}

/* Ховаємо навігацію та контакти на мобільних пристроях (як на Фото 1) */
.header-nav-wrapper {
  display: none;
}

/* Планшетна версія */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* Перемикаємо шапку на відображення в один рядок */
  .header-container {
    height: 72px;
  }
}

/* Декстопна версія */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .header-nav-wrapper {
    margin-left: 76px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
