.features {
  padding: 96px 0;
}

/* На мобилке карточки идут строго одна за другой в один столбик */
.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px; /* Большой отступ между карточками */
}

/* Скрываем контейнеры с иконками на мобильном (как на Фото 1) */
.features-wrapper {
  display: none;
}

.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center; /* Центрируем заголовки на мобильном */
}

.features-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  font-weight: 500;
}

@media screen and (min-width: 768px) {
  /* Перестраиваем сетку: 2 колонки и 2 ряда */
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px; /* Отступ между колонками */
    row-gap: 72px; /* Отступ между рядами */
  }

  /* Каждая карточка занимает чуть меньше половины ширины с учетом gap */
  .features-item {
    width: calc((100% - 24px) / 2);
  }

  /* Выравнивание текста по левому краю согласно макету */
  .features-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }

  /* Перестраиваем сетку в один ряд (4 колонки) */
  .features-list {
    gap: 24px;
  }

  /* Каждая карточка занимает ровно четверть ширины строки */
  .features-item {
    width: calc((100% - 72px) / 4);
  }

  /* Показываем контейнер с иконкой, настраиваем рамку и фон */
  .features-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  /* Уменьшаем размер заголовков для десктопа согласно макету */
  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  /* Делаем шрифт описания более легким */
  .features-desc {
    font-weight: 400;
  }
}
