.features {
  background-color: #ffffff;
  padding: 96px 0;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-item {
  width: 100%;
}

.features-wrapper {
  display: none;
}

.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
}

.features-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-subtitle {
    text-align: left;
    font-weight: 700;
    font-size: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .features {
    padding: 120px 0;
  }

  .features-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;

    background: #f4f4fd;

    margin-bottom: 8px;
  }

  .features-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .features-desc {
    font-weight: 400;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #434455;
  }
}
