.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);

  width: calc(100% - 36px);
  max-width: 288px;
  min-height: 623px;

  background-color: #fcfcfc;
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open .modal {
  transform: translate(-50%, -50%) scale(1);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border-color: #404bbf;
}
.modal-btn-icon {
  color: #2e2f42;
  fill: #2e2f42;

  transition:
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  color: #ffffff;
  fill: #ffffff;
}

.modal > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-form-field {
  display: flex;
  flex-direction: column;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  color: #434455;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  color: #2e2f42;
  transition:
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
  color: #4d5ae5;
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  margin-bottom: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-comment:focus {
  border-color: #4d5ae5;
}

.modal-form-field-policy {
  margin-top: 8px;
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
}

.modal-form-field-policy input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.modal-form-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: transparent;
  color: transparent;
  fill: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field-policy
  input[type="checkbox"]:checked
  + .modal-form-policy
  .modal-form-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
  color: #f4f4fd;
  fill: #f4f4fd;
}

.modal-form-checkbox-icon {
  display: block;
  margin: 0;
  padding: 0;
}

.modal-form-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-form .btn-filled {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .btn-filled:hover,
.modal-form .btn-filled:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
