.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 72px;
}

.team-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;
  max-width: 264px;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-ill {
  display: block;
  max-width: 100%;
  height: auto;
}

.member-content-wrapper {
  padding: 32px 0;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 8px;
}

.team-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 0;
  margin-bottom: 8px;
}

.socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}

.socials-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row; /* Дозволяємо елементам ставати поруч */
    flex-wrap: wrap; /* Вмикаємо перенос для формування сітки */
    justify-content: center;
    gap: 64px 24px; /* 64px між рядками та 24px горизонтально між колонками */
  }

  /* На планшеті контейнер автоматично розставить фіксовані картки по дві в ряд */
  .team-item {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0; /* Збільшуємо падінги секції за десктопним макетом */
  }

  .team-list {
    flex-wrap: nowrap; /* Забороняємо перенос — усі 4 картки стають в один ряд */
    gap: 24px; /* Тільки горизонтальний простір 24px між 4 колонками */
  }
}
